@using BeautySalon.Web.ViewModels.Comments.ViewModels;
@model IEnumerable<CommentViewModel>;

@{
    var commentsCount = Model.Count();
}

<a id="comment-button" class="btn btn-primary p-2 px-3 py-3 ml-md-2"><i class="fa fa-plus"></i> Comment</a>

<div class="pt-5 mt-5 comment-form-container">
    <div id="comment-form" class="comment-form-wrap pt-5 hidden">
        <h3 class="mb-5">Leave a comment</h3>

        <form id="form" method="post" class="bg-light p-4">
            <div class="form-group">
                <label for="content">Content</label>
                <textarea name="content" id="content" cols="5" rows="5" class="form-control"></textarea>
                <div id="content-error" style="display:none">@ErrorMessages.InvalidCommentContentLength</div>
            </div>
            <div class="form-group">
                <input id="post-comment" type="submit" value="Post Comment" class="btn py-3 px-4 btn-primary">
            </div>
        </form>
    </div>

    @if (commentsCount != 0)
    {
        <h3 class="mb-5">@commentsCount Comments</h3>
    }
    else
    {
        <h3 class="mb-5">There are no comments yet</h3>
    }

    <div id="result-new-commend">
        <ul class="comment-list">
            @foreach (var comment in Model)
            {
                <li class="comment">
                    <div class="vcard bio">
                        <img src="@comment.ApplicationUserPicture" alt="user-picture">
                    </div>
                    <div class="comment-body">
                        <h3>@comment.ApplicationUserUsername</h3>
                        <div class="meta">@comment.FormattedDate</div>
                        <p class="small">@comment.Content</p>
                    </div>
                </li>
            }
        </ul>
    </div>
</div>
