@using BeautySalon.Web.ViewModels.Articles.ViewModels;
@model AllArticlesViewModel;

<section class="hero-wrap hero-wrap-2 custom-margin-identity" style="background-image: url('/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-3 bread">Blog</h1>
                <p class="breadcrumbs"><span class="mr-2"><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></span> <span>Blog</span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section bg-light">
    <div class="container">
        <div class="row d-flex">
            @foreach (var article in Model.Articles)
            {
                <div class="col-md-4 d-flex ftco-animate">
                    <div class="blog-entry justify-content-end">
                        <a class="block-20" style="background-image: url('@article.Picture');">
                        </a>
                        <div class="text p-4 float-right d-block">
                            <div class="d-flex align-items-center pt-2 mb-4">
                                <div class="one">
                                    <span class="day">@article.Day</span>
                                </div>
                                <div class="two">
                                    <span class="yr">@article.Year</span>
                                    <span class="mos">@article.Month</span>
                                </div>
                            </div>
                            <h3 class="heading mt-2"><a asp-controller="Articles" asp-action="GetDetails" asp-route-id="@article.Id">@article.Title</a></h3>
                            <p class="small">@article.ShortContent</p>
                            <ul class="subheading article-category d-inline">
                                <li class="ftco-animate theme-color-gold small article-category"><strong>Category: </strong>@article.CategoryName</li>
                                <li class="ftco-animate theme-color-gold small article-category"><strong>Author: </strong><a asp-controller="Stylists" asp-action="GetDetails" asp-route-id="@article.StylistId">@article.StylistFullName</a></li>
                                <li class="ftco-animate theme-color-gold small article-category"><strong>Likes: </strong>@article.LikesCount</li>
                            </ul>
                            <a class="btn btn-primary d-inline p-1 px-1 py-1 mr-md-1 log" asp-controller="Articles" asp-action="GetDetails" asp-route-id="@article.Id">Read more</a>
                        </div>
                    </div>
                </div>
            }
        </div>

        <partial name="_ArticlesPaginationPartial" model="@Model" />
    </div>
</section>
