@using BeautySalon.Web.ViewModels.Articles.ViewModels;
@model DetailsArticleViewModel;

<section class="hero-wrap hero-wrap-2 custom-margin-identity" style="background-image: url('/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-3 bread">Blog</h1>
                <p class="breadcrumbs"><span class="mr-2"><a asp-controller="Home" asp-action="Index">Home</a></span> <span class="mr-2"><a asp-controller="Articles" asp-action="GetAll">Blog</a></span> <span>Article</span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 ftco-animate">
                <h2 class="mb-3 theme-color-gold">@Model.Title</h2>
                <div id="articleId" hidden>@Model.Id</div>
                <p>
                    <img src="@Model.Picture" alt="article-picture" class="img-fluid">
                </p>
                <p>
                    @Model.Content
                </p>

                <div class="mb-5 mt-5 d-inline">
                    <div class="d-inline">
                        <i class="fas fa-hashtag theme-color-gold"><span class="tag-cloud-link d-inline thin"> @Model.CategoryName</span></i>
                        <i class="fas fa-comments theme-color-gold"><span class="tag-cloud-link d-inline thin"> @Model.CommentsCount</span></i>
                        <i class="fas fa-calendar-alt theme-color-gold"><span class="tag-cloud-link d-inline thin">@Model.FormattedDate</span></i>
                        <i class="fas fa-user-edit theme-color-gold"><span class="tag-cloud-link d-inline thin"> @Model.StylistFullName</span></i>
                        <form id="likes" class="tag-cloud-link d-inline" method="post"></form>
                        <span id="likeArticle" class="tag-cloud-link d-inline theme-color-gold thin-heart">
                            @if (Model.IsFavourite)
                            {
                                <a>
                                    <i class="fa fa-heart"></i>
                                </a>
                            }
                            else
                            {
                                <a>
                                    <i class="far fa-heart"></i>
                                </a>
                            }
                        </span>
                        <span id="likesCount" class="tag-cloud-link d-inline thin">@Model.LikesCount</span>
                    </div>


                    <div class="about-author d-flex">
                        <div class="bio align-self-md-center mr-5">
                            <img src="@Model.StylistPicture" alt="picty" class="img-fluid mb-4 author-pic">
                        </div>
                        <div class="desc align-self-md-center">
                            <h3><a asp-controller="Stylists" asp-action="GetDetails" asp-route-id="@Model.StylistId">@Model.StylistFullName</a></h3>
                            <p class="small">@Model.StylistShortDescription</p>
                        </div>
                    </div>
                    <partial name="_CommentArticlePartial" model="@Model.OrderedComments" />
                </div>
            </div>

            <div class="col-lg-4 sidebar ftco-animate">
                <div class="sidebar-box ftco-animate">
                    <h3 class="heading-2">Recent Blog</h3>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(/images/image_1.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> Sept. 25, 2019</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(/images/image_2.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> Sept. 25, 2019</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="block-21 mb-4 d-flex">
                        <a class="blog-img mr-4" style="background-image: url(/images/image_3.jpg);"></a>
                        <div class="text">
                            <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
                            <div class="meta">
                                <div><a href="#"><span class="icon-calendar"></span> Sept. 25, 2019</a></div>
                                <div><a href="#"><span class="icon-person"></span> Admin</a></div>
                                <div><a href="#"><span class="icon-chat"></span> 19</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    let likeButton = document.getElementById("likeArticle");
    likeButton.addEventListener("click", likeArticle);

    function likeArticle() {
        let articleId = document.getElementById("articleId").innerHTML;
        var token = $("#likes input[name=__RequestVerificationToken]").val();

        $.ajax({
            url: "/Articles/Like/",
            type: "POST",
            data: JSON.stringify(articleId),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            headers: { 'X-CSRF-TOKEN': token },
            success: function (data) {
                let result = "";

                if (data.isAdded) {
                    result = '<a><i class="fa fa-heart"></i>';
                } else {
                    result = '<a><i class="far fa-heart"></i>';
                }

                $("#likeArticle").html(result);
                $("#likesCount").html(data.likesCount);
            }
        });
    }

    let button = document.getElementById("comment-button")
    button.addEventListener("click", showCommentForm);

    function showCommentForm() {
        let commentForm = document.getElementById("comment-form");

        if (commentForm.style.display == "block") {
            commentForm.style.display = "none";
        } else {
            commentForm.style.display = "block";
        }
    }

    let postComment = document.getElementById("post-comment");
    postComment.addEventListener("click", comment);

    function comment(event) {
        console.log(event);
        event.preventDefault();
        let content = document.getElementById("content").value;
        let articleId = document.getElementById("articleId").innerText;

        var token = $("#form input[name=__RequestVerificationToken]").val();

        $.ajax({
            url: "/Comments/Create/",
            type: "POST",
            data: JSON.stringify({ articleId, content }),
            contentType: "application/json; charset=utf-8",
            headers: { 'X-CSRF-TOKEN': token },
            dataType: "json",
            success: function (data) {
                let errorMessage = document.getElementById("content-error");

                if (data.comments === null) {
                    errorMessage.style.display = "block";
                    return;
                }

                let result = '<ul class="comment-list">';

                data.comments.forEach(comment => {
                    result += '<li class="comment">' + '<div class="vcard bio">' + `<img src="${comment.applicationUserPicture}" alt="user-picture">` + '</div>' + '<div class="comment-body">' + `<h3>${comment.applicationUserUsername}</h3>` + `<div class="meta">${comment.formattedDate}</div>` + `<p class="small">${comment.content}</p>` + '</div>' + '</li>';
                })

                result += '</ul>'

                $('#result-new-commend').html(result);
                window.location.reload();
            }
        });
    }
</script>