@using BeautySalon.Web.ViewModels.Chats.ViewModels;
@model StartChatViewModel;

@{
    ViewData["Title"] = "Chat room";
}

<partial name="_TitlePageSection" />
<section>
    <div class="row">
        <div class="col-md-3">
            @if (this.User.IsInRole("Admin"))
            {
                <partial name="_NavBarAdministrationPartial" />
            }
            else
            {
                <partial name="_NavBarUserPartial" />
            }
        </div>
        <div class="col-md-9">
            <div id="test" class="container">
                <h5 class="text-center">Chat with Admin</h5>
                <div id="sender-username" class="hidden">@Model.SenderUsername</div>
                <div id="receiver-username" class="hidden">@Model.ReceiverUsername</div>
                <div id="group-name" class="hidden">@Model.GroupName</div>
                <div id="messagesList" style="font-size: 24px;">
                    @if (Model.ChatMessages.ToList().Count() != 0)
                    {
                        foreach (var message in Model.ChatMessages)
                        {
                            if (Model.CurrentUserUsername == message.SenderUsername)
                            {
                                <div class="media">
                                    <div class="media-body ml-2">
                                        <span class="small theme-color-gold">@message.FormattedDate</span>
                                        <h6 class="mt-0 mb-1">@message.SenderUsername says:</h6><p class="small mb-2 color-black"> @message.Content</p>
                                    </div><img id="small-pic" src="@message.SenderPicture" class="mr-2 img-fluid" alt="user-pic">
                                </div>
                                <hr />
                            }
                            else
                            {
                                <div class="media">
                                    <img id="small-pic" src="@message.SenderPicture" class="img-fluid mr-2" alt="user-pic">
                                    <div class="media-body text-right mr-2">
                                        <span class="small theme-color-gold">@message.FormattedDate</span>
                                        <h6 class="mt-0">@message.SenderUsername says:</h6>
                                        <p class="small color-black">@message.Content</p>
                                    </div>
                                </div>
                                <hr />
                            }
                        }
                    }
                </div>
                <hr style="height: 5px;" class="bg-primary" />
                <div class="row">
                    <div id="message-holder" class="mt-3 d-flex justify-content-start col-md-10">
                        <textarea type="text" cols="90" rows="2" id="messageInput" placeholder="Message..."></textarea>
                    </div>
                    <button id="sendButton" class="m-4  py-0 btn btn-primary btn-sm col-md-1">Send</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/chat.js"></script>
    <script>chat();</script>
}