@using BeautySalon.Web.ViewModels.Answers.ViewModels;
@model AllAnswersForUserViewModel;

<section class="hero-wrap hero-wrap-2 custom-margin-identity administration" style="background-image: url('/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-3 bread">Replies</h1>
                <p class="breadcrumbs">
                    <span class="mr-2"><a asp-area="Stylists" asp-controller="Questions" asp-action="GetAllForStylist" asp-route-id="">New Questions</a></span>
                </p>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="row">
        <div class="col-md-3">
            <partial name="_NavBarUserPartial" />
        </div>
        <div class="col-md-8">
            <h2 class="text-center">Replies</h2>
            <hr />
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Answer's Date</th>
                        <th scope="col">Answer's Title</th>
                        <th scope="col">Stylist</th>
                        <th scope="col">Details</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Answers.Count(); i++)
                    {
                        var currentAnswer = Model.Answers.ToList()[i];

                        <tr>
                            <th scope="row">@(i+1)</th>
                            <td>@currentAnswer.FormattedCreatedOn</td>
                            <td>@currentAnswer.Title</td>
                            <td><a asp-area="" asp-controller="Stylists" asp-action="GetDetails" asp-route-id="@currentAnswer.StylistId">@currentAnswer.StylistFullName</a></td>
                            <td><a asp-area="" asp-controller="Answers" asp-action="SeeAnswer" asp-route-id="@currentAnswer.Id" class="btn btn-outline-primary p-2 px-2 py-2 ml-md-2 log">See details</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>