@using BeautySalon.Web.ViewModels.Articles.ViewModels;
@model AllRecentArticlesViewModel;

<div class="col-lg-4 sidebar ftco-animate">
    <div class="sidebar-box ftco-animate">
        <h3 class="heading-2">Recent Blog</h3>
        @foreach (var article in Model.RecentArticles)
        {
            <div class="block-21 mb-4 d-flex">
                <a class="blog-img mr-4" style="background-image: url(@article.Picture);"></a>
                <div class="text">
                    <h3 class="heading"><a asp-controller="Articles" asp-action="GetDetails" asp-route-id="@article.Id">@article.Title</a></h3>
                    <div class="meta">
                        <div><a><span class="icon-calendar"></span> @article.FormattedDate</a></div>
                        <div class="heading"><a asp-controller="Stylists" asp-action="GetDetails" asp-route-id="@article.StylistId"><span class="icon-person"></span> @article.StylistFullName</a></div>
                        <div><a><span class="icon-chat"></span> @article.CommentsCount</a></div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>