@using BeautySalon.Web.ViewModels.Appoitments.InputModels;
@model BookAppointmentInputModel;

<section class="hero-wrap hero-wrap-2 custom-margin-identity" style="background-image: url('/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-3 bread">Appointments</h1>
                <p class="breadcrumbs"><span class="mr-2"><a asp-controller="Home" asp-action="Index">Home</a></span></p>
            </div>
        </div>
    </div>
</section>
<section id="ParentContainer" class="ftco-section contact-section">
    <div class="container">
        <div class="row block-9">
            <vc:users-skin-type-info user-id="@Model.Id"></vc:users-skin-type-info>
            <div class="col-md-1"></div>
            <div class="col-md-6 ftco-animate">
                <h2 class="mb-4">Book an Appointment</h2>
                <form id="form" asp-controller="Appointments" asp-action="Book" method="post" class="contact-form">
                    <div class="row theme-color-gold">
                        <div class="col-md-6 form-group">
                            <label asp-for="@Model.FirstName"></label>
                            <input asp-for="@Model.FirstName" readonly type="text" class="form-control" />
                            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label asp-for="@Model.LastName"></label>
                            <input asp-for="@Model.LastName" readonly type="text" class="form-control" />
                            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label asp-for="@Model.Email"></label>
                            <input asp-for="@Model.Email" readonly type="text" class="form-control" />
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label asp-for="@Model.PhoneNumber"></label>
                            <input asp-for="@Model.PhoneNumber" readonly type="text" class="form-control" />
                            <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <label asp-for="@Model.CategoryId"></label>
                            <select id="category" asp-for="@Model.CategoryId" class="form-control" asp-items="@Model.Categories">
                                <option selected>Please select beauty category</option>
                            </select>
                            <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
                        </div>
                        <div id="parent-stylist" class="col-md-12 form-group">
                            <label asp-for="@Model.StylistId"></label>
                            <select id="stylist" asp-for="@Model.StylistId" type="text" class="form-control">
                            </select>
                            <span asp-validation-for="@Model.StylistId" class="text-danger"></span>
                        </div>

                        <div id="smart-search-message" style="display:none">
                            <span class="smart-search-text">Get procedures only for my skin type! </span><a id="smart-search-button" class="btn btn-primary d-inline px-2 py-2">Search</a>
                        </div>

                        <div class="col-md-12 form-group">
                            <label asp-for="@Model.ProcedureId"></label>
                            <select id="procedure" asp-for="@Model.ProcedureId" type="text" class="form-control"></select>
                            <span asp-validation-for="@Model.ProcedureId" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label asp-for="@Model.Date"></label>
                            <input id="datepicker" asp-for="@Model.Date" type="text" class="form-control" value="" />
                            <span asp-validation-for="@Model.Date" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label asp-for="@Model.Time"></label>
                            <select id="time" asp-for="@Model.Time" class="form-control">
                            </select>
                            <span asp-validation-for="@Model.Time" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <label asp-for="@Model.Comment"></label>
                            <textarea asp-for="@Model.Comment" cols="30" rows="10" class="form-control"></textarea>
                            <span asp-validation-for="@Model.Comment" class="text-danger"></span>
                        </div>
                        <div class="col-mn-6 form-group">
                            <input type="submit" value="Book an Appointment" class="btn btn-primary py-3 px-5">
                            <input id="clear-appointment-search" value="Clear" class="btn btn-outline-primary py-3 px-5">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<script>
    $(function () {
        $("#datepicker").datepicker({
            startDate: new Date(),
            endDate: "+4m",
            weekStart: 1,
            daysOfWeekDisabled: "0",
            defaultDate: "",
            autoclose: true
        });
    });

    let categoryId = "";
    document.getElementById("clear-appointment-search").addEventListener("click", clear);

    function clear() {
        window.location.reload();
    }

    function clearData() {
        document.getElementById("procedure").innerHTML = "";
        document.getElementById("datepicker").value = "";
        document.getElementById("time").innerHTML = "";
    }

    document.getElementById("category").addEventListener("change", loadStylists);

    function loadStylists(event) {
        clearData();

       
        Array.from(event.target.children).forEach(child => {
            if (child.selected === true) {
                categoryId = child.value;
            }
        });

        var token = $("#form input[name=__RequestVerificationToken]").val();

        $.ajax({
            url: "/Stylists/GetStylistsByCategory/",
            type: "POST",
            data: JSON.stringify(categoryId),
            contentType: "application/json; charset=utf-8",
            headers: { 'X-CSRF-TOKEN': token },
            dataType: "json",
            success: function (data) {
                let result = '<option selected>Please select stylist</option>';

                data.stylistNames.forEach(stylyst => {
                    result += `<option value="${stylyst.id}">${stylyst.fullName}</option>`
                });

                $('#stylist').html(result);
            }
        });
    }

    document.getElementById("stylist").addEventListener("change", loadProcedures);

    function loadProcedures(event) {
        clearData();

        if (categoryId === 'ecc3136a-e09f-491b-a96d-cacbfe0397b2') {
            document.getElementById("smart-search-message").style.display = "block";
        } else {
            document.getElementById("smart-search-message").style.display = "none";
        }

        let smartSearchButton = document.getElementById("smart-search-button");
        smartSearchButton.addEventListener("click", showSmartSearchNavBar);

        function showSmartSearchNavBar() {

            let clientSkinTypeId = document.getElementById("skin-type-id").innerText;
            let isSkinSensitive = document.getElementById("sensitive-skin").innerText;

            let stylistId = "";
            let parentStylist = document.getElementById("parent-stylist");

            Array.from(parentStylist.children[1].children).forEach(child => {
                if (child.selected === true) {
                    stylistId = child.value;
                }
            });

            var token = $("#form input[name=__RequestVerificationToken]").val();

            $.ajax({
                url: "/Procedures/SmartSearchProcedures/",
                type: "POST",
                data: JSON.stringify({ clientSkinTypeId, isSkinSensitive, stylistId }),
                contentType: "application/json; charset=utf-8",
                headers: { 'X-CSRF-TOKEN': token },
                dataType: "json",
                success: function (data) {
                    let result = '<option selected>Please select procedure</option>';

                    data.procedureNames.forEach(procedure => {
                        result += `<option value="${procedure.procedureId}">${procedure.procedureName}</option>`
                    });

                    $('#procedure').html(result);
                }
            });
        }

        let stylistId = "";

        Array.from(event.target.children).forEach(child => {
            if (child.selected === true) {
                stylistId = child.value;
            }
        });

        var token = $("#form input[name=__RequestVerificationToken]").val();

        $.ajax({
            url: "/Procedures/GetProceduresByStylist/",
            type: "POST",
            data: JSON.stringify(stylistId),
            contentType: "application/json; charset=utf-8",
            headers: { 'X-CSRF-TOKEN': token },
            dataType: "json",
            success: function (data) {
                let result = '<option selected>Please select procedure</option>';

                data.procedureNames.forEach(procedure => {
                    result += `<option value="${procedure.procedureId}">${procedure.procedureName}</option>`
                });

                $('#procedure').html(result);
            }
        });
    }

    $('#datepicker').on('changeDate', function () {
        let selectedDate = document.getElementById("datepicker").value;
        let selectedStylistId = document.getElementById("stylist").value;

        var token = $("#form input[name=__RequestVerificationToken]").val();

        $.ajax({
            url: "/Appointments/GetFreeTimes/",
            type: "POST",
            data: JSON.stringify({ selectedDate, selectedStylistId }),
            contentType: "application/json; charset=utf-8",
            headers: { 'X-CSRF-TOKEN': token },
            dataType: "json",
            success: function (data) {
                let result = '<option value = "" > Please select Time</option>';

                data.freeHours.forEach(hour => {
                    result += `<option value="${hour}">${hour}</option>`
                })

                $('#time').html(result);
            }
        });
    });
</script>