@using BeautySalon.Web.ViewModels.Appoitments.InputModels;
@model BookAppointmentInputModel;

<section class="hero-wrap hero-wrap-2 custom-margin-identity" style="background-image: url('/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-3 bread">Contact us</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home</a></span> <span>Contact us</span></p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section contact-section">
    <div class="container">
        <div class="row block-9">
            <div class="col-md-4 contact-info ftco-animate bg-light p-4">
                <div class="row">
                    <div class="col-md-12 mb-4">
                        <h2 class="h4">Contact Information</h2>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p><span>Address:</span> 198 West 21th Street, Suite 721 New York NY 10016</p>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p><span>Phone:</span> <a href="tel://1234567920">+ 1235 2355 98</a></p>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p><span>Email:</span> <a href="mailto:info@yoursite.com">info@yoursite.com</a></p>
                    </div>
                    <div class="col-md-12 mb-3">
                        <p><span>Website:</span> <a href="#">yoursite.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-6 ftco-animate">
                <h2 class="mb-4">Book an Appointment</h2>
                <form asp-controller="Appointments" asp-action="Book" method="post" class="contact-form">
                    <div class="row">
                        <div class="col-md-6 form-group">
                            <label asp-for="@Model.FirstName"></label>
                            <input asp-for="@Model.FirstName" readonly type="text" class="form-control" />
                            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label asp-for="@Model.LastName"></label>
                            <input asp-for="@Model.LastName" readonly type="text" class="form-control" />
                            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label asp-for="@Model.Email"></label>
                            <input asp-for="@Model.Email" readonly type="text" class="form-control" />
                            <span asp-validation-for="@Model.Email" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label asp-for="@Model.PhoneNumber"></label>
                            <input asp-for="@Model.PhoneNumber" readonly type="text" class="form-control" />
                            <span asp-validation-for="@Model.PhoneNumber" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group">
                            <label asp-for="@Model.Category"></label>
                            <input asp-for="@Model.Category" readonly type="text" class="form-control" />
                            <span asp-validation-for="@Model.Category" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group">
                            <label asp-for="@Model.StylistName"></label>
                            <input asp-for="@Model.StylistName" readonly type="text" class="form-control" />
                            <span asp-validation-for="@Model.StylistName" class="text-danger"></span>
                        </div>
                        <div class="col-md-4 form-group">
                            <label asp-for="@Model.ProcedureName"></label>
                            <input asp-for="@Model.ProcedureName" readonly type="text" class="form-control" />
                            <span asp-validation-for="@Model.ProcedureName" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label asp-for="@Model.Date"></label>
                            <input asp-for="@Model.Date" readonly type="text" class="form-control" />
                            <span asp-validation-for="@Model.Date" class="text-danger"></span>
                        </div>
                        <div class="col-md-6 form-group">
                            <label asp-for="@Model.Time"></label>
                            <input asp-for="@Model.Time" readonly type="text" class="form-control" />
                            <span asp-validation-for="@Model.Time" class="text-danger"></span>
                        </div>
                        <div class="col-md-12 form-group">
                            <label asp-for="Comment"></label>
                            <textarea asp-for="Comment" cols="30" rows="7" class="form-control" placeholder="Comentt"></textarea>
                            <span asp-validation-for="Comment" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Book an Appointment" class="btn btn-primary py-3 px-5">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@*<form enctype="multipart/form-data" asp-controller="Appointments" asp-action="Book" method="post" class="text-center col-md-6">

        <div class="form-group">
            <label asp-for="Category"></label>
            <select id="Category" asp-for="Category" class="form-control col-md-12" asp-items="@Html.GetEnumSelectList<Category>()"> <option value="">Please select Category</option></select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="EmployeeName"></label><br />
            <select id="employee" asp-for="EmployeeName" class="form-control col-md-12">
                <option value="">Please select Stylist</option>
            </select>
            <span asp-validation-for="EmployeeName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ProcedureName"></label><br />
            <select id="procedure" asp-for="ProcedureName" class="form-control col-md-12">
                <option value="">Please select Procedure</option>
            </select>
            <span asp-validation-for="ProcedureName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Date"></label>
            <input id="date" asp-for="Date" class="form-control col-md-12" value='<%= Date()%>' />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Time"></label><br />
            <select id="time" asp-for="Time" class="form-control col-md-12">
                <option value="">Please select Time</option>
            </select>
            <span asp-validation-for="Time" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Comment"></label>
            <textarea asp-for="Comment" class="form-control col-md-12"></textarea>
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-outline-success" value="Upload" onclick="return ConformCreate();">Book an appointment</button>
    </form>*@

                    </div>
                </div>
            </div>
        </div>
    </section>