@using BeautySalon.Web.ViewModels.StylistsArea.Articles.InputModels;
@model CreateArticleInputModel;
@inject IOptions<BeautySalon.Web.SecurityModels.GoogleReCAPTCHA> GoogleReCAPTCHA;

@{
    ViewData["Title"] = "Create";
}

<section class="hero-wrap hero-wrap-2 custom-margin-identity administration" style="background-image: url('/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-3 bread">@ViewData["Title"]</h1>
                <p class="breadcrumbs">
                    <span class="mr-2"><a asp-area="Stylists" asp-controller="Articles" asp-action="GetAllForStylist">All Articles</a></span>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="custom-margin-identity">
    <div class="row">
        <div class="col-md-3">
            <partial name="_NavBarStylistPartial" />
        </div>
        <div class="col-md-8">
            <h2 class="text-center">Create Article</h2>
            <hr />

            <form asp-area="Stylists" asp-controller="Articles" asp-action="Create" method="post" class="text-center" enctype="multipart/form-data">
                <div class="row justify-content-center">
                    <div class="form-group col-md-8">
                        <label asp-for="@Model.Title"></label>
                        <input asp-for="@Model.Title" class="form-control" />
                        <span asp-validation-for="@Model.Title" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8">
                        <label asp-for="@Model.Content"></label>
                        <textarea asp-for="@Model.Content" rows="10" class="form-control"></textarea>
                        <span asp-validation-for="@Model.Content" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8">
                        <label asp-for="@Model.CategoryId"></label>
                        <select id="category" asp-for="@Model.CategoryId" class="form-control col-md-12" asp-items="@Model.Categories">
                            <option selected>Please select beauty category</option>
                        </select>
                        <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Picture"></label>
                        <input type="file" asp-for="@Model.Picture" />
                        <span asp-validation-for="@Model.Picture" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8">
                        <button type="submit" class="btn btn-outline-primary ml-md-4" value="Create">Create</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/lib/tinymce/tinymce.min.js" type="text/javascript" asp-append-version="true"></script>
    <script src="~/lib/tinymce/visualizer.js" type="text/javascript" asp-append-version="true"></script>

    <script src="https://www.google.com/recaptcha/api.js?render=@GoogleReCAPTCHA.Value.SiteKey"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@GoogleReCAPTCHA.Value.SiteKey', { action: 'homepage' }).then(function (token) {
            });
        });
    </script>
}