@using BeautySalon.Web.ViewModels.Users.ViewModels;
@model UserCardViewModel;

@{
    ViewData["Title"] = "My Card";
}

<partial name="_UserTitlePageSection" />
<section>
    <div class="row">
        <div class="col-md-3">
            <partial name="_NavBarUserPartial" />
        </div>
        <div class="col-md-9">
            @if (Model == null)
            {
                <h2 class="offset-3">You don't have any active cards!</h2>
                <hr />
                <a asp-area="" asp-controller="Cards" asp-action="GetAllTypeCards" class="btn btn-white offset-5 px-2 py-3 mb-5">See cards</a>
            }
            else
            {
                <h2 class="offset-4">@ViewData["Title"]</h2>
                <hr />
                <div class="col-md-10 ftco-animate">
                    <div id="client-id" class="hidden">@Model.ClientId</div>
                    <div class="block-7">
                        <div class="text-center">
                            <h2 class="heading">@Model.TypeCardName Card</h2>
                            <span class="price"><sup>€</sup> <span class="number">@Model.TypeCardPrice</span></span>
                            <a id="show-card" class="btn btn-white px-2 py-3 mb-5">Show Card</a>
                            <div id="qrCode" class="offset-4 mb-5 hidden"></div>
                            <span class="excerpt d-block">For 1 @Model.TypeCardName</span>
                            <ul class="pricing-text-gold-li mb-5">
                                <li id="start-date" class="theme-color-gold"><span>Start Date: </span>@Model.FormattedStartDate</li>
                                <li id="end-date" class="theme-color-gold"><span>End Date: </span>@Model.FormattedEndDate</li>
                            </ul>

                            <h4 class="heading-2 my-4">Enjoy All The Features</h4>

                            <ul class="pricing-text mb-5">
                                <li>Face Treatments</li>
                                <li>Nail Treatments</li>
                                <li>Haircuts</li>
                            </ul>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section Scripts {
    <script src="~/js/generateQRCodeForSubstriptionCard.js"></script>
    <script src="~/js/showSubstriptionCard.js"></script>

    <script>generateQRCodeForSubstriptionCard();</script>
    <script>showSubstriptionCard();</script>
}
