@using BeautySalon.Web.ViewModels.Administration.Products.InputModels;
@model UpdateProductInputModel;
@inject IOptions<BeautySalon.Web.SecurityModels.GoogleReCAPTCHA> GoogleReCAPTCHA;

<section class="hero-wrap hero-wrap-2 custom-margin-identity administration" style="background-image: url('/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-3 bread">Update</h1>
                <p class="breadcrumbs"><span class="mr-2"><a asp-area="Administration" asp-controller="Products" asp-action="GetAll">All Products</a></span>
            </div>
        </div>
    </div>
</section>
<section class="custom-margin-identity">
    <div class="row">
        <div class="col-md-3">
            <partial name="_NavBarAdministration" />
        </div>
        <div class="col-md-8">
            <h2 class="text-center">Update Product</h2>
            <hr />
            <form asp-area="Administration" asp-controller="Products" asp-action="Update" method="post" class="text-center" enctype="multipart/form-data">
                <input asp-for="@Model.Id" type="hidden" />
                <div class="row justify-content-center">
                    <div class="form-group col-md-6 ftco-animate text-center">
                        <div class="coach align-items-stretch">
                            <div class="img" style="background-image: url(@Model.Picture);">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.NewPicture"></label>
                        <input type="file" asp-for="@Model.NewPicture" />
                        <span asp-validation-for="@Model.NewPicture" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8">
                        <label asp-for="@Model.Name"></label>
                        <input asp-for="@Model.Name" class="form-control" />
                        <span asp-validation-for="@Model.Name" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8">
                        <label asp-for="@Model.Price"></label>
                        <input asp-for="@Model.Price" class="form-control" />
                        <span asp-validation-for="@Model.Price" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8">
                        <label asp-for="@Model.CategoryId"></label>
                        <select id="category" asp-for="@Model.CategoryId" class="form-control col-md-12" asp-items="@Model.Categories">
                            <option selected>Please select beauty category</option>
                        </select>
                        <span asp-validation-for="@Model.CategoryId" class="text-danger"></span>
                    </div>
                    <div id="skin-type" class="form-group col-md-8">
                        <label asp-for="@Model.BrandId"></label>
                        <select asp-for="@Model.BrandId" class="form-control col-md-12" asp-items="@Model.Brands">
                            <option selected>Please select brand name</option>
                        </select>
                        <span asp-validation-for="@Model.BrandId" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8">
                        <label asp-for="@Model.Description"></label>
                        <textarea asp-for="@Model.Description" rows="15" class="form-control"></textarea>
                        <span asp-validation-for="@Model.Description" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-8">
                        <button id="add-procedure-button" type="submit" class="btn btn-outline-primary ml-md-4" value="Update">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js?render=@GoogleReCAPTCHA.Value.SiteKey"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@GoogleReCAPTCHA.Value.SiteKey', { action: 'homepage' }).then(function (token) {
            });
        });
    </script>
}