@using BeautySalon.Web.ViewModels.Procedures.ViewModels;
@model IEnumerable<ProcedureReviewViewModel>;

@foreach (var review in Model)
{
    <div class="item">
        <div class="testimony-wrap p-4 pb-5">
            <div class="text">
                <div class="line pl-5">
                    <p class="mb-4 pb-1">@review.Content</p>
                    <span class="quote d-flex align-items-center justify-content-center">
                        <i class="icon-quote-left"></i>
                    </span>
                </div>
                <div class="d-flex align-items-center">
                    <div class="user-img" style="background-image:url('@review.ClientPicture')"></div>
                    <div class="ml-4">
                        <p><span><i class="fas fa-star theme-color-gold"></i></span> @review.Points/5</p>
                        <p class="name">@review.ClientUsername</p>
                        <span class="position">@review.FormattedDate</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
}