@using BeautySalon.Web.ViewModels.StylistsArea.Questions.ViewModels;
@model AllQuestionForStylistViewModel;

@{
    ViewData["Title"] = "Stylist's dashboard";
}

<partial name="_TitlePageSection" />
<section>
    <div class="row">
        <div class="col-md-3">
            <partial name="_NavBarStylistPartial" />
        </div>
        <div class="col-md-8">
            <div class="col-md-12">
                <div class="input-group col-md-12">
                    <a asp-area="Stylists" asp-controller="Answers" asp-action="GetStylistsAllAnswers" class="btn btn-primary p-1 px-3 py-2 mb-4 offset-5">My Mailbox</a>
                </div>
                <h2 class="text-center">New Questions</h2>
                <hr />
            </div>
            <div class="container">
                <div class="row no-gutters">
                    @foreach (var question in Model.Questions)
                    {
                        <div class="col-md-4 d-flex align-items-stretch">
                            <div class="offer-deal text-center px-4 px-lg-5">
                                <div class="img" style="background-image: url(@question.ClientPicture);"></div>
                                <div class="text mt-4">
                                    <h3 class="mb-4">@question.Title</h3>
                                    <div>
                                        <i class="fas fa-calendar-alt theme-color-gold">
                                            <span class="tag-cloud-link thin small">@question.FormattedDate</span>
                                        </i>
                                        <i class="fas fa-user-edit theme-color-gold">
                                            <span class="tag-cloud-link thin"> @question.ClientUsername</span>
                                        </i>
                                    </div>
                                    <p><a asp-area="Stylists" asp-controller="Questions" asp-action="SeeQuestion" asp-route-id="@question.Id" class="btn btn-white px-4 py-3">See Question<span class="ion-ios-arrow-round-forward"></span></a></p>
                                </div>
                            </div>
                        </div>
                    }
                    @if (Model.Questions.ToList().Count == 0)
                    {
                        <h4 class="offset-4">You don't have any new questions!</h4>
                    }
                </div>
            </div>
        </div>
    </div>
</section>