@using BeautySalon.Web.ViewModels.Stylists.ViewModels;
@model AllStylistsViewModel;

@{
    ViewData["Title"] = "Stylists";
}

<partial name="_TitlePageSection" />
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h3 class="subheading">@ViewData["Title"]</h3>
                <h2 class="mb-1">Meet Our Stylists</h2>
                <vc:category-option-bar has-to-add-second-criteria="false"></vc:category-option-bar>
            </div>
        </div>
        <div id="showResult" class="row">
            @foreach (var stylist in Model.Stylists)
            {
                <div class="col-lg-3 d-flex">
                    <div class="coach align-items-stretch">
                        <div class="img" style="background-image: url(@stylist.Picture);"></div>
                        <div class="text bg-white p-4 ftco-animate">
                            <h3><a asp-controller="Stylists" asp-action="GetDetails" asp-route-id="@stylist.Id">@stylist.FirstName @stylist.LastName</a></h3>
                            <div class="subheading"><strong>Category:</strong> @stylist.CategoryName</div>
                            <div class="subheading"><strong>Speciality:</strong> @stylist.JobTypeName</div>
                            <strong>About me</strong><p class="about-me">@stylist.ShortDescription</p>
                            <a class="btn btn-primary p-1 px-1 py-1 mr-md-1 log" asp-controller="Stylists" asp-action="GetDetails" asp-route-id="@stylist.Id">More info</a>
                            <p></p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

@section Scripts{
    <script src="~/js/searchStylists.js" asp-append-version="true"></script>
    <script>searchStylists();</script>
}
