@using BeautySalon.Web.ViewModels.Stylists.ViewModels;
@model DetailsStylistViewModel;

<section class="ftco-section ftco-intro custom-margin-identity stylist-section" style="background-image: url(/images/bg_3.jpg);">
    <div class="text-center stylist">
        <h1 class="heading-color stylist-name">@Model.FirstName @Model.LastName</h1>
        <a id="askQuestion" class="btn btn-primary p-1 px-2 py-2 mr-md-2 log">Ask question</a>
        <div id="showQuestionForm" class="col-md-8 ftco-animate" style="display:none">
            <div class="col-md-6 ftco-animate">
                <form asp-area="" asp-controller="Questions" asp-action="AskQuestion" method="post" class="contact-form">
                    <div class="row">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Title">
                    </div>
                    <div class="form-group">
                        <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Content"></textarea>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Send Message" class="btn btn-primary py-3 px-5">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="row align-items-stretch stylist-info">
        <div class="col-md-5 ftco-animate stylist-pic">
            <div class="block-7">
                <div class="coach align-items-stretch">
                    <div class="img" style="background-image: url(@Model.Picture);">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 ftco-animate">
            <div class="block-7">
                <div class="coach align-items-stretch">
                    <div class="subheading show"><strong>Category:</strong> @Model.CategoryName</div>
                    <div class="subheading show"><strong>Speciality:</strong> @Model.JobTypeName</div>
                    <div class="subheading show"><strong>Raiting:</strong> @Model.FormattedRaiting</div>
                    <div class="subheading about-me"><strong class="show">About me:</strong>@Model.Description</div>
                    <strong>Last Five Articles:</strong>
                    <ul class="subheading show">
                        @foreach (var article in Model.LastArticles)
                        {
                            <li class="ftco-animate theme-color-gold flaticon-lotus"><a asp-area="" asp-controller="Articles" asp-action="GetDetails" asp-route-id="@article.ArticleId"> @article.ArticleTitle</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    let button = document.getElementById("askQuestion");
    button.addEventListener("click", showQuestionForm);

    let form = document.getElementById("showQuestionForm");

    function showQuestionForm() {

        if (form.style.display === "block") {
            form.style.display = "none";
        } else {
            form.style.display = "block";
        }
    }
</script>