@using BeautySalon.Web.ViewModels.Administration.Procedures.ViewModels;
@model AllProceduresAdministrationViewModel;

@{
    ViewData["Title"] = "Admin's dashboard";
}

<partial name="_TitlePageSection" />
<partial name="_InfoMessagePartial" />
<section>
    <div class="row">
        <div class="col-md-3">
            <partial name="_NavBarAdministrationPartial" />
        </div>
        <div class="col-md-8">
            <h2 class="text-center">Procedures</h2>
            <hr />
            <div class="add-new-procedure col-md-12">
                <h4 id="add-new-procedure-title" class="text-center">Create Procedure</h4>
                <div class="text-center">
                    <a asp-area="Administration" asp-controller="Procedures" asp-action="Create" class="btn btn-primary p-2 px-2 py-2 md-ml-4">Create</a>
                </div>
                <hr />
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Skin Type</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Price</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Procedures.Count(); i++)
                    {
                        var currentProcedure = Model.Procedures.ToList()[i];

                        <tr>
                            <th scope="row">@(i+1)</th>
                            <td><a asp-area="" asp-controller="Procedures" asp-action="GetDetails" asp-route-id="@currentProcedure.Id">@currentProcedure.Name</a></td>
                            <td>@currentProcedure.CategoryName</td>
                            <td>@currentProcedure.SkinTypeName</td>
                            <td>@currentProcedure.FormattedRating</td>
                            <td>@currentProcedure.FormattedPrice</td>
                            <td><a asp-area="Administration" asp-controller="Procedures" asp-action="Update" asp-route-id="@currentProcedure.Id" class="btn btn-outline-primary p-2 px-2 py-2 ml-md-2 log">Update</a></td>
                            <td><a asp-area="Administration" asp-controller="Procedures" asp-action="Delete" asp-route-id="@currentProcedure.Id" class="btn btn-outline-danger p-2 px-2 py-2 ml-md-2 log">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>