@using BeautySalon.Web.ViewModels.TypeCards.ViewModels;
@model AllTypeCardsViewModel;

@{
    ViewData["Title"] = "Cards";
}

<partial name="_TitlePageSection" />
<div class="row">
    @if (Model.HasCard)
    {
        <div class="col-md-12 text-center">
            <h3 class="text-center">You already have a subscription card</h3>
            <hr />
            <a asp-area="" asp-controller="Users" asp-action="MyCard" class="btn btn-white px-2 py-3 mb-5">See card</a>
        </div>
    }
    else
    {
        <div class="col-md-12 text-center">
            <h3>Buy a subscription card</h3>
            <h6 class="theme-color-gold">Save money and enjoy all the procedures!</h6>
            <hr />
        </div>
        @foreach (var typeCard in Model.TypeCards)
        {
            <div class="col-md-4 mb-5 ftco-animate">
                <div class="block-7">
                    <div class="text-center">
                        <h2 class="heading">@typeCard.Name Card</h2>
                        <span class="price"><sup>€</sup> <span class="number">@typeCard.Price</span></span>
                        <span class="excerpt d-block">For 1 @typeCard.Name</span>

                        <h4 class="heading-2 my-4">Enjoy All The Features</h4>

                        <ul class="pricing-text mb-5">
                            <li><a asp-area="" asp-controller="Procedures" asp-action="GetProceduresByCategory" asp-route-id="@Model.SkinCareCategoryId">Face Treatments</a></li>
                            <li><a asp-area="" asp-controller="Procedures" asp-action="GetProceduresByCategory" asp-route-id="@Model.NailsCategoryId">Nail Treatments</a></li>
                            <li><a asp-area="" asp-controller="Procedures" asp-action="GetDetails" asp-route-id="@Model.HaircutsProcedureId">Haircuts</a></li>
                        </ul>

                        <a asp-area="" asp-controller="Cards" asp-action="Buy" asp-route-id="@typeCard.Id" class="btn btn-primary d-block px-2 py-4">Buy it now with <i class="fab fa-paypal"></i></a>
                    </div>
                </div>
            </div>
        }
    }
</div>
