@using BeautySalon.Web.ViewModels.Administration.Stylists.ViewModels;
@model AllStylistsAdministrationViewModel;
@inject IOptions<BeautySalon.Web.SecurityModels.GoogleReCAPTCHA> GoogleReCAPTCHA;

@{
    ViewData["Title"] = "Admin's dashboard";
}

<partial name="_TitlePageSection" />
<section>
    <div class="row">
        <div class="col-md-3">
            <partial name="_NavBarAdministrationPartial" />
        </div>
        <div class="col-md-8">
            <h2 class="text-center">Stylists</h2>
            <hr />
            <div class="add-new-stylist-form">
                <h4 id="add-new-stylist-title">Add Stylist</h4>
                <form asp-area="Administration" asp-controller="Stylists" asp-action="Add" method="post">
                    <div class="px-3 pb-0 pt-4">
                        <div class="input-group">
                            <input asp-for="@Model.StylistEmail" class="form-control col-8 ml-2 p-2" placeholder="Email">
                            <input id="add-stylist-button" type="submit" value="Add" class="btn btn-primary py-3 px-5">
                        </div>
                    </div>
                    <span asp-validation-for="@Model.StylistEmail" class="text-danger ml-5"></span>
                </form>
            </div>
            <hr />
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Full Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Job Type</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.Stylists.Count(); i++)
                    {
                        var currentStylist = Model.Stylists.ToList()[i];

                        <tr>
                            <th scope="row">@(i+1)</th>
                            <td><a asp-area="" asp-controller="Stylists" asp-action="GetDetails" asp-route-id="@currentStylist.Id">@currentStylist.FullName</a></td>
                            <td>@currentStylist.CategoryName</td>
                            <td>@currentStylist.JobTypeName</td>
                            <td>@currentStylist.FormattedRaiting</td>
                            <td><a asp-area="Administration" asp-controller="Stylists" asp-action="Update" asp-route-id="@currentStylist.Id" class="btn btn-outline-primary p-2 px-2 py-2 ml-md-2 log">Update</a></td>
                            <td><a asp-area="Administration" asp-controller="Stylists" asp-action="Delete" asp-route-id="@currentStylist.Id" class="btn btn-outline-danger p-2 px-2 py-2 ml-md-2 log">Delete</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>

@section Scripts {
    <script src="https://www.google.com/recaptcha/api.js?render=@GoogleReCAPTCHA.Value.SiteKey"></script>
    <script>
        grecaptcha.ready(function () {
            grecaptcha.execute('@GoogleReCAPTCHA.Value.SiteKey', { action: 'homepage' }).then(function (token) {
            });
        });
    </script>
}