@using BeautySalon.Web.ViewModels.Administration.Stylists.InputModels;
@model UpdateStylistInputModel;

<section class="hero-wrap hero-wrap-2 custom-margin-identity administration" style="background-image: url('/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-3 bread">Update</h1>
                <p class="breadcrumbs"><span class="mr-2"><a asp-area="Administration" asp-controller="Stylists" asp-action="GetAll">All Stylists</a></span>
            </div>
        </div>
    </div>
</section>
<section class="custom-margin-identity">
    <div class="row">
        <div class="col-3">
            <partial name="_NavBarAdministration" />
        </div>
        <div class="col-8">
            <form enctype="multipart/form-data" asp-area="Administration" asp-controller="Stylists" asp-action="Update" method="post" class="text-center">
                <input asp-for="@Model.Id" type="hidden" />
                <div class="row">
                    <div class="form-group col-6 ftco-animate text-center">
                        <div class="coach align-items-stretch">
                            <div class="img" style="background-image: url(@Model.Picture);">
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-12">
                        <label asp-for="@Model.NewPicture"></label><br />
                        <input type="file" asp-for="@Model.NewPicture" name="NewPicture" />
                        <span asp-validation-for="@Model.NewPicture" class="text-danger"></span>
                    </div>
                    <div class="form-group col-12">
                        <label asp-for="FirstName"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-12">
                        <label asp-for="LastName"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-12">
                        <label asp-for="PhoneNumber"></label>
                        <input asp-for="PhoneNumber" class="form-control" />
                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                    @*<div class="form-group">
                            <label asp-for="JobType"></label>
                            <select asp-for="JobType" class="form-control col-md-12" asp-items="@Html.GetEnumSelectList<JobType>()"> <option selected="selected" value="">Please select Job Type</option></select>
                            <span asp-validation-for="JobType" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Category"></label>
                            <select asp-for="Category" class="form-control col-md-12" asp-items="@Html.GetEnumSelectList<Category>()"> <option selected="selected" value="">Please select Category</option></select>
                            <span asp-validation-for="Category" class="text-danger"></span>
                        </div>*@
                    <div class="form-group col-12">
                        <label asp-for="Description"></label>
                        <textarea asp-for="Description" rows="10" class="form-control"></textarea>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-outline-primary" value="Upload">Update</button>
                </div>
            </form>
        </div>
    </div>
</section>